<div>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName"> First Name</label>
      <mat-form-field>
        <input
         type="text"
         matInput
         class="form-control"
         id="firstName"
         formControlName="firstName"
          />
      </mat-form-field>
      <label for="secondName">Second Name</label>
      <mat-form-field>
        <input
           type="text"
           matInput
           class="form-control"
           id="secondName"
           formControlName="secondName"
           />
      </mat-form-field>
      <button type="submit">Save</button>
    </div>
  </form>

  celcius<input [(ngModel)]="celcius" (ngModelChange)="convertempurature()" />
  foreignhight<input [(ngModel)]="foreignhight" />
  <br />
  <table>
    <tr> <th>id</th><th>name</th><th>city</th></tr>
    <tr *ngFor="let user of userList">
        <td> {{user.id}} </td>
        <td> {{user.name}} </td>
        <td> {{user.city}} </td>
    </tr>
  </table>
</div>